# dependencies
node_modules/

# build
dist/
build/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
temp_auto_push.bat

# coverage
coverage/
.nyc_output/

# IDE
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# misc
*.tsbuildinfo
.gitignore
branch_structure.json
